<div class="bg-color">

    <div class="container w-100">
        <div class="row w-100">
            <div class="col-md-12  mt-5 mb-5">
                <h1 class="text-monospace text-center">Cogito ergo sum</h1>
            </div>
        </div>

        <div class="row w-100 mt-4 mb-4">
            <div class="col-md-12">
                <p class="text-justify text-monospace d-flex ustify-content-center">Nesses tempos incertos, muitas
                    coisas me afligem, e sempre acabo refletindo em como o mundo chegou nesse ponto, e como devemos agir
                    no futuro, no coletivo e individualmente. Por isso criei esse espaço para externizar meus devaneios
                    e pensamentos, pois dessa forma eu me sinto mais vivo e forte perante as adversidades. Como disse muito sabiamente René Descartes, e me permito fazer uma singela homenagem de sua frase orignal, eu penso, logo eu sinto. </p>
            </div>
        </div>
    </div>

    <div class="parallax">

    </div>

    
    
    <div class="row w-100 bg-color mt-5">
        <div class="col-md-12 w-100 mb-5 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold bg-color-button" routerLink="/feed">Ver
                o feed</button>
        </div>
    </div>

</div>