<!--Rodapé----->

<footer class="page-footer font-small pt-4 bg">

    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center text-monospace text-uppercase font-weight-bold">
                <h4><strong>Siga nas redes sociais</strong></h4>

            </div>

        </div>


        <div class="row">
            <div class="col-md-12 d-flex justify-content-center text-monospace text-uppercase font-weight-bold">

                <ul class="social-network">

                    <li><a href="#" class="icoLinkedIn" title="Linkedin">
                      <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                        </a>
                    </li>

                    
                    <li><a href="#" class="icointagram" title="Instagram">
                        <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <p class="text-center">
                    Todos os direitos reservados: Ricardo Mendes &copy;
                </p>
            </div>
        </div>


    </div>

</footer>
<!--/Rodapé----->