<!--Rodapé----->


<footer class="page-footer font-small pt-4 bg-1">

    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center text-monospace text-uppercase font-weight-bold">
                <h4><strong>Redes Sociais</strong></h4>

            </div>

        </div>


        <div class="row">
            <div class="col-md-12 d-flex justify-content-center text-monospace text-uppercase font-weight-bold">

                <ul class="social-network">

                    <li><a href="https://www.linkedin.com/in/ricardotmendes/" class="icoLinkedIn" title="Linkedin" target="_blank">
                            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                        </a>
                    </li>


                    <li><a href="https://www.instagram.com/ricardocaumendes/?hl=pt-br" class="icointagram"
                            title="Instagram" target="_blank">
                            <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
                        </a>
                    </li>

                    <li><a href="https://github.com/ricardotmendes" class="icoGithub"
                        title="GitHub" target="_blank">
                        <fa-icon [icon]="faGithub" class="faGithub fa-3x p-3 "></fa-icon>
                    </a>
                    </li>

                </ul>
            </div>

            
        </div>
        
        

    </div>
    
    <div class="footer-copyright bg-dark text-center py-3 ">
        <span class="text-light"> © 2020 Copyright: Ricardo Mendes</span>
       
    </div>

    
</footer>
<!--/Rodapé----->