<div class="card border-0 bg-color" style="width: 18rem;">
  <div class="d-flex justify-content-center">
    <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/3XLrHQa.jpg" alt="Imagem de capa do card">
  </div>


  <div class="card-body">
    <h5 class="card-title text-center text-monospace">Ricardo Mendes</h5>
    <p class="card-text text-center text-monospace">Desenvolvedor Java Web Fullstack.</p>

    <a href="https://www.linkedin.com/in/ricardotmendes/"
      class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>

    <a href="https://github.com/ricardotmendes" class="btn btn-outline-dark mb-3 d-flex justify-content-center"
      target="_blank">Github</a>

  </div>
</div>